---
import { getCollection, getEntry } from "astro:content"
import LeftSideBar from "~/components/left/LeftSideBar.astro"
import RightSideBar from "~/components/right/RightSideBar.astro"
import Layout from "~/layouts/Layout.astro"

export async function getStaticPaths() {
	return (await getCollection("docs")).map((page) => ({
		params: {
			path: page.slug,
		},
	}))
}

const { path } = Astro.params

const page = await getEntry("docs", `${path}.mdx`)
const pageContent = await page.render()
---

<Layout title={page.data.title}>
	<div id="page">
		<LeftSideBar />
		<main>
			<h1>{page.data.title}</h1>
			<pageContent.Content />
		</main>
		<RightSideBar headings={pageContent.headings} />
	</div>
</Layout>

<style>
	#page {
		display: flex;
		margin-top: 0;
	}
</style>
